@tailwind base;
@tailwind components;
@tailwind utilities;
.myNav {
    @apply bg-my-green rounded text-white py-2 px-4 my-2 mx-4 inline-block;
}

.myNavOn {
    @apply text-my-green rounded bg-white py-2 px-4 my-2 mx-4 inline-block;
}