:root {
    --blueBg-color: green;
    --bg-Color: #fff;
    --text-Color: #000;
}

@media screen and (prefers-color-scheme:dark) {
     :root {
        --blueBg-color: #2d386e;
        --bg-Color: #000;
        --text-Color: #fff;
    }
}

html,
body {
    margin: 0;
}

.container {
    width: 992px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.logoBox div {
    width: 150px;
    float: left;
}

.logoBox h1 {
    float: left;
    margin-top: 60px;
}

.logoBox::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    font-weight: bold;
}


/* menu */

.menu {
    background: var(--blueBg-color);
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.menu li a:hover {
    /* opacity: 0.7; */
    background: rgba(255, 255, 255, 0.3);
}

main {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 300px;
    /* border: #00f 1px solid; */
    padding: 5px;
}

article {
    width: 660px;
    /* border: #00f 1px solid; */
    padding: 5px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px 30px;
    background: url(images/iconBG.png) no-repeat;
    background-position: 0 -395px;
}

.waterFallBox::after {
    content: "";
    display: block;
    clear: both;
}

figure {
    box-shadow: 0 0 10px #999;
    width: 150px;
    padding: 5px;
    float: left;
    margin: 20px;
}

figcaption {
    text-align: center;
    border-top: 1px #ccc dashed;
}

footer {
    background: var(--blueBg-color);
    padding: 20px 10px;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
}


/* about pages start */

.aboutContentBox {}

.aboutContentBox p {
    text-indent: 2em;
    line-height: 1.8em;
    color: #666;
}


/* about pages end */


/* feedback pages start */

.iptBox {
    margin: 10px 0;
}

.iptBox input,
.iptBox select,
.iptBox textarea {
    padding: 10px;
    border-radius: 10px 0 10px 0;
    border: 1px solid #999;
}

.iptBox input:focus,
.iptBox select:focus,
.iptBox textarea:focus {
    /* background: yellow; */
    /* border: 1px solid lightblue; */
    outline: 1px solid lightblue;
    /* outline-offset: 5px; */
    box-shadow: 0 0 3px 3px lightblue;
    border: none;
}

.btnBox {
    padding: 20px;
}

.btnBox button {
    border: none;
    background: lightblue;
    box-shadow: 0 9px #999;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    opacity: 0.5;
}

.btnBox button:hover {
    opacity: 1;
    /* background: rgba(0, 0, 255, 0.3); */
}

.btnBox button:active {
    box-shadow: 0 4px #999;
    transform: translateY(5px);
}


/* feedback pages end */


/* news pages start */

.newsList {
    list-style: none;
    /* background: url(images/iconBG.png) no-repeat;
    background-position: 0 -24px; */
}

.newsList li {
    padding: 12px 0;
}

.newsList li:first-child::before {
    content: "1";
    display: inline-block;
    background: red;
    padding: 5px;
}

.newsList li:nth-child(2)::before {
    content: "2";
    background: orange;
    display: inline-block;
    padding: 5px;
}

.newsList li:nth-child(3)::before {
    content: "3";
    background: yellow;
    display: inline-block;
    padding: 5px;
}

.newsList a {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    text-overflow: ellipsis;
}

.newsList time {
    float: right;
}


/* news pages end */

@font-face {
    font-family: wjx;
    src: url(fonts/wjx.ttf);
}

.myFont {
    font: bold 24px/1.8em "wjx"
}